<a href="https://colab.research.google.com/github/minhhung250302/TrinhMinhHungUTE/blob/main/6_9_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
with open('text.txt',mode='w') as accounts :
 accounts.write('1 Nguyen Van A 8.0\n')
 accounts.write('2 Le Thi B 6.8\n')

In [ ]:
from openpyxl import Workbook
wb = Workbook()
sheet=wb.active
sheet['A1']='Tran Van Hau'
sheet['B1']= '20104027'
sheet['A2']= 'Le Quang Trieu'
sheet['B2']= '20104056'
wb.save('test.xlsx')

In [ ]:
import pandas as pd

dataframe = pd.read_csv('/content/test.xlsx')
dataframe(10)

In [ ]:
with open('text.txt',mode='w') as accounts :
  print('7:00 BgytebVab A',file=accounts)
  print('7:01 BgytebVab B',file=accounts)

In [ ]:
with open('text.txt',mode='r') as accounts :
  print(f'{"name":<20}{"score":<20}')
  for record in accounts:
    name,score = record.split()
    print(f'{name:<20}{score:>20}')

In [ ]:
import pandas as pd
dataframe=pd.DataFrame()
dataframe['Name']=['Nguyen Van A','Le Thi B']
dataframe['student IP']=[20104001,20104003]
dataframe['score']=[8.0,9.0]
dataframe

In [ ]:
import pandas as pd
url = '/Dulieubai2.csv'
dataframe = pd.read_csv(url)
dataframe.head(7)

In [ ]:
import pandas as pd
url = '/Dulieubai2.csv'
dataframe = pd.read_csv(url)
dataframe.iloc[2:8]

In [ ]:
import pandas as pd
url = '/Dulieubai3.csv'
dataframe = pd.read_csv(url)
dataframe[:7]

In [ ]:
import pandas as pd
url = '/Book4.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe[dataframe['khoa'] == 'CKM'].head(3)

In [ ]:
import pandas as pd
dataframe = pd.read_csv('/content/Book4.csv')
dataframe.drop('ho va ten',axis=1)

In [ ]:
import pandas as pd
dataframe = pd.read_csv('/content/Book4.csv')
dataframe.groupby('khoa').mean()

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

In [ ]:
from openpyxl import Workbook 
wb = Workbook()
Sheet = wb.active
Sheet['A1'] = 'Nguyen Van A'
Sheet['B1'] = '20104001'
Sheet['A2'] = 'Le Thi B'
Sheet['B2'] = '20104002'
Sheet['A3'] = 'Tran Van Quoc'
Sheet['A4'] = 'Phạm Ngọc C'
Sheet['B3'] = '20104003'
Sheet['B4'] = '20104004'
wb.save('test.xlsxx')

In [ ]:
import openpyxl 
t1 = openpyxl.Workbook()
t2 = t1.active
c1 =t2.cell(row=1,column=1)
c1.value="Đặng Trí Dũng"
c2 = t2.cell(row=1,column=2)
c2.value= "Trịnh Đức Cường"
c3= t2['A2']
c3.value = "Ulsan"
c4= t2['B2']
c4.value="Genovoa"
t1.save('Hung.xlsx')